.menubar {
    padding: 20px 25px;
    -webkit-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.16);
    -moz-box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.16);
    box-shadow: 10px 10px 11px 0px rgba(0,0,0,0.16);
    color: #1a3a8a;
    position: fixed;
    top:0;
    left: 0;
    z-index: 4;
    background-color: white;
}

/* side-menubar */

.side-menubar {
    background-color: #1a3a8a;
    width: 300px;
    height: 100vh;
    color: white;
    position: fixed;
    top:0;
    left: 0;
    z-index: 1;
}

.side-menubar__link {
    padding-top: 7rem;
 
    list-style-type: none;
    
}

.side-menubar__link>li {
    padding-bottom: 1rem;
    padding-right: 1rem;
}

.side-menubar__link li ul {
    
    max-height: 0px;
    transition: 0.4s ease;
    overflow: hidden;
}

.side-menubar__link li:hover ul {
   
    max-height: 1000px;
}

/* submenubar */

.sub-menubar-btn {
    color: white;
    text-decoration: none;
}

.sub-menubar-btn:hover {
    color:white;
    opacity: 0.8;
    text-decoration: none;
}


.sub-menubar__link>li {
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    list-style-type: none;
}

